:root {
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  background-color: #37474f;
  padding: 8px 16px;
}

.logo:hover {
  transform: scale(1.1);
  transition: var(--animation-duration);
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: var(--color-black);
  font-size: var(--font-size);
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 4px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  transition: var(--animation-duration);
}

.imgBtn {
  height: var(--size-button);
  width: var(--size-button);
}

.blue {
  background-color: var(--color-blue);
  height: var(--size-button);
  padding: 16px;
}

.yellow {
  background-color: var(--color-yellow);
  height: var(--size-button);
  padding: 16px;
}

.pink {
  background-color: var(--color-pink);
  height: var(--size-button);
  padding: 16px;
}

.delete {
  background-color: var(--color-white);
  height: var(--size-button);
  padding: 16px;
}

.items {
  height: 40%;
  width: 40%;
  list-style: none;
  overflow-y: scroll;
  padding-left: 0px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
  font-size: var(--font-size);
  background-color: var(--color-light-grey);
  margin: 10px;
}

.item_Thumnail {
  height: var(--size-thumbnail);
}

.item_Text {
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
}

button:hover {
  cursor: pointer;
}

.menu button .active {
  margin-top: 0;
  opacity: 1;
}
